@charset "UTF-8";

.h-react-refresh {
  min-height: 200px;
  flex: 1;
  margin-top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  padding-bottom: 10px;

  .am-card-header-extra {
    font-size: 13px;
  }
}